.header{
    font-size: large;
    color: black;
    height: 50;
    background-color: blue;
    text-align: center;
}
.img1{
    float: left;
    width: 30;
    height: 50;
}
.body{
    font-style: italic;
}
.header2{
    font-size: 30px;
    text-align: center;
    background-color: blue;
    height: 50px;
}
.mynav{
    display: flex;
    height: 30px;
    line-height: 10px;
     background-color: rgb(158, 9, 9);
    }
    .mynav li{
        float: left;
        color: black;
    }
    .mynav ul{
        list-style: none;
        padding: 0;
        margin: 0;
    }
    .mynav li a{
        display: inline-block;
        text-align: center;
        padding: 14px 16px;
        color: black;
        float: left;
    }



