.header{
    font-size: xx-large;
    color: black;
    background-color: blue;
    text-align: center;
}
.img1{
    float: left;
    height: fit-content;
}
.body{
    font-style: italic;
}
.header2{
    font-size: 30px;
    text-align: center;
    background-color: blue;
    height: 50px;
}



